
.App-header {
  background-color: rgb(3, 43, 43);
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white
}

.starship-name {
  height: 150px;
  width: 150px;
  display: flex;
  flex-flow: wrap;
  border: 1px solid black;
  margin: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: rgb(12, 92, 92);
}

.starship-details {
  height: 400px;
  width: 300px;
  display: inline;
  flex-flow: wrap;
  border: 1px solid black;
  margin: 10px;
  justify-content: left;
  align-items: center;
  color: white;
  background-color: rgb(12, 92, 92);
}

a {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.ships {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.return {
  width: 200px;
  text-align: left;
}

