.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.starship-name {
  height: 150px;
  width: 150px;
  display: flex;
  flex-flow: wrap;
  border: 1px solid black;
  margin: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: darkcyan;
}

.starship-details {
  height: 400px;
  width: 300px;
  display: flex;
  flex-flow: wrap;
  border: 1px solid black;
  margin: 10px;
  justify-content: left;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: darkcyan;
}

.ships {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.return {
  width: 200px;
}

